.map-container {
  width: 100%;
  height: 60vh;
  border-radius: 12px;
  border: 1px solid black;
}

.map-modal {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border: 1px solid black;
}

.map-homepage {
  height: 40vh;
  width: 100%;
  border-radius: 12px;
  border: 1px solid black;
}
