/* Header.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #038286;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 50px; /* Adjust size of logo */
  width: auto;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #007BFF;
}
