body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#map {
    width: 100vh;  /* Takes half of the screen width */
    height: 50vh; /* Full height */
    position: absolute;
    left: 10;
    top: 10;
    border: 1px solid black;
  .navbar {
    background-color: rgba(3, 183, 189, 0.634);
    height: 72px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    padding: 14px;
}

.navbar a {
    background-color: #038286;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #bef3f4;
    color: black;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
}

.stats p {
    margin: 0;
    padding: 0;
}
